<div class="container">
    <h1 class="display-4 text-center mt-4">
        Add an event to your community planner!
    </h1><br>
    <form action="/add-event" method="POST">
        <%- include('_form_fields.ejs') %>
    </form>
</div>