<div class="container">
    <h1 class="mb-1"><%= event.title %></h1>
    <div class="text-muted">
        <%= event.createdAt %>
    </div>
    <div>
        <%= event.description %>
    </div>
    <div>
        Event date: <%= event.event_date %>
    </div>

    <a href="/" class="btn btn-secondary">All events</a>
</div>